* {
    font-family: sans-serif;
    font-size: 14px;
    word-break: break-all;
}

body {
    background: lightblue;
}

a {
    text-decoration: none;
}

.container {
    margin: 10px auto;
    padding: 20px;
    border-radius: 16px;
    background-color: whitesmoke;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.flex {
    display: flex;
}

.flexCenter {
    margin-left: auto;
    margin-right: auto;
}

.textCenter {
    text-align: center;
}

.main {
    width: 50%;
}

.main-title-inner-text {
    font-size: 24px;
}

.main-title-inner-version {
    font-weight: normal;
    color: cadetblue;
}

.main-searchInput {
    border: none;
    margin: auto;
    width: 296px;
    padding: 12px;
}

.main-trackList {
    min-height: 75vh;
}

.main-trackList-loading {
    height: 128px;
}

.main-trackList-loading-inner {
    width: 64px;
    height: 64px;
    border: 8px solid transparent;
    border-radius: 50%;
    border-top: 8px solid lightgray;
}

.main-trackList-loading-inner {
    margin: auto;
    fill: lightgray;
    animation: rotate 1s linear infinite;
}

.main-trackList-trackEntry {
    display: inline-block;
    margin: 2px;
    padding: 6px 12px;
    color: black;
    background-color: white;
    cursor: pointer;
}

.main-trackList-trackEntry:hover {
    outline: 2px solid paleturquoise;
}

.main-searchInput,
.main-trackList-trackEntry {
    border-radius: 8px;
}

.main-searchInput:active,
.main-searchInput:focus {
    outline: none;
    border: none;
}

.main-searchNotice {
    margin: 20px auto;
}

.musicPlayer {
    position: fixed;
    border-radius: 32px;
    bottom: 0;
    right: 0;
    width: 40%;
    margin: 30px;
}

.musicPlayer-currentTrackName {
    font-size: 18px;
    margin: 10px 20px;
}

.musicPlayer-controls {
    background: none;
    padding: 0px;
    margin: 10px auto;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    * {
        font-size: 16px;
    }

    .main {
        width: 90%;
    }

    .afterMain {
        display: block;
        content: " ";
        min-height: 128px;
    }

    .main-searchInput {
        width: 60%;
    }

    .main-trackList {
        min-height: 0;
    }

    .musicPlayer {
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 32px 32px 0 0;
    }

    .musicPlayer-currentTrackName {
        padding-top: 20px;
        padding-left: 10px;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
