* {
    font-family: sans-serif;
    font-size: 14px;
    word-break: break-all;
}

body {
    background: linear-gradient(90deg, lightblue, paleturquoise);
}

a {
    display: inline-block;
    padding: 6px 12px;
    color: black;
    background-color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
}

a:hover {
    border: 2px solid paleturquoise;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h4 {
    font-size: 18px;
    margin: 10px 20px;
}

input:active,
input:focus {
    outline: none;
    border: none;
}

.container {
    margin: 10px auto;
    padding: 20px;
    border-radius: 16px;
    background-color: #F0F0F0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.flex {
    display: flex;
}

.main {
    width: 50%;
}

.main-searchInput {
    border-radius: 4px;
    border: none;
    margin: auto;
    width: 300px;
    padding: 10px;
}

.main-searchNotice {
    margin: 20px auto;
}

.main-trackList {
    min-height: 75vh;
}

.main-trackList-trackEntry {
    margin: 2px;
}

.musicPlayer {
    position: fixed;
    border-radius: 32px;
    bottom: 0;
    right: 0;
    width: 40%;
    margin: 30px;
}

.musicPlayer-currentTrackName {
    margin: 10px;
}

.musicPlayer-controls {
    background: none;
    padding: 0px;
    margin: 10px auto;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 16px;
    }

    .main {
        width: 90%;
    }

    .afterMain {
        display: block;
        content: " ";
        height: 128px;
    }

    .main-searchInput {
        width: 60%;
    }

    .musicPlayer {
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 32px 32px 0 0;
    }

    .musicPlayer-currentTrackName {
        padding-top: 20px;
        padding-left: 10px;
    }
}